p.badge {
  display: inline-block;
  border-radius: 999px;
  font-size: .8rem;
  padding: .15rem .5rem;
  color: #000000;
  background-color: #bdc3c7;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-top: 0;
  margin-bottom: 0;
}

p.badge.easy {
  background-color: #2ecc71;
}

p.badge.medium {
  background-color: #e67e22;
}

p.badge.hard {
  background-color: #e74c3c;
}