:root {
    --btn-green-color: #2ECC71;
    --btn-dark-green-color: #27AE60;
}

button.btn-3d {
    cursor: pointer;
    background-color: var(--btn-green-color);
    border: none;
    padding: 1rem 4rem;
    border-radius: 8px;
    box-shadow: inset 0px -6px 0px var(--btn-dark-green-color), 0px -6px 0px var(--btn-green-color);
    transition: box-shadow .1s ease-in-out;
    margin-top: 1rem;
}

button.btn-3d .button__text {
    font-weight: bolder;
    font-size: 18px;
    margin: 0;
    color: white;
    transform: translate3d(0px, -3px, 0px);
    transition: transform .1s ease-in-out;
}

button.btn-3d:active {
    box-shadow: none;
}

button.btn-3d:active .button__text {
    transform: translate3d(0px, 0px, 0px);
}

button.btn-3d:disabled {
    opacity: .7;
}
