.answer {
  padding: .25rem 1rem;
  border: 2px solid #bdc3c7;
  border-radius: 4px;
  background-color: #ecf0f1;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

.answer .number {
  display: none;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: .5rem;
  padding: .1rem;
  border: 2px solid #9b59b6;
  background-color: white;
  border-radius: 4px;
}

.answer.active {
  background-color: #3498db;
  border-color: #2980b9;
  color: white;
}

.answer.active .number {
  color: initial;
}

@media screen and (min-width: 768px) {
    .answer .number {
      display: inline-flex;
    }
}